body {
  margin: 0;
}
main {
  height: 500px;
  background-color: lightgreen;
  border-top: 2px solid black;
  display: grid;
}
h1 {
  margin: 0;
  line-height: 500px;
  text-align: center;
}
header {
  height: 100px;
  display: grid;
  grid-template-rows: 50% 50%;
  /* display: flex;
    justify-content: space-around; */
}
nav {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  align-items: center;
  justify-items: center;
  background-color: teal;
}
footer {
  background-color: teal;
  height: 100px;
}
.title {
  background-color: lightblue;
  width: 100%;
}
.four-small-box {
}
.two-small-box {
}
.large-blue-box {
  background-color: blue;
}
.light-red-rectangle {
  background-color: pink;
}
.small-red-box {
  background-color: red;
}
