body {
  margin: 0;
}
main {
  height: 500px;
  background-color: white;
  display: grid;
  grid-template-rows: 66% 33%;
  grid-template-columns: 50% 50%;
}
h1 {
  margin: 0;
  line-height: 500px;
  text-align: center;
}
header {
  height: 100px;
  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
  align-items: center;
  background-color: lightblue;
}
nav {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  align-items: center;
  background-color: teal;
  text-align: left;
}
a {
  text-decoration: none;
  color: black;
}
footer {
  background-color: teal;
  height: 100px;
}
div {
  display: grid;
}
.large-blue-box {
  background-color: blue;
  height: 85%;
  width: 85%;
  justify-self: center;
  align-self: center;
}
.light-red-rectangle {
  background-color: pink;
  height: 70%;
  width: 85%;
  justify-self: center;
  align-self: center;
}
.small-red-box {
  background-color: red;
  height: 70%;
  width: 70%;
  justify-self: center;
  align-self: center;
}
.four-small-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.two-small-box {
  display: grid;
  grid-template-columns: 50% 50%;
}
.logo {
  padding: 20px;
}
